/* font-family: 'Ubuntu', sans-serif */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

/* font-family: 'Josefin Sans', sans-serif */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');

:root {
  font-size: 16px;

  --background: #16161C;
  --surface: rgba(0, 0, 0, 0.19);
  --highlight: #AE5DCA;
  --text-primary: #DEDEDE;
  --text-secondary: #BEBEBE;
  --text-tertiary: #737373;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  color: var(--text-primary);
}

body {
  background-color: var(--background);
}

a {
  text-decoration: none;
}

.shadow {
  -webkit-box-shadow: 0 10px 6px -6px #0f0f0fd2;
  -moz-box-shadow: 0 10px 6px -6px #0f0f0fd2;
  box-shadow: 0 10px 6px -6px #0f0f0fd2;
}

@media (max-width: 600px) {
	:root {
		font-size: 12px;
	}
}